<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='./css/base.css') }}"/>
{% block cssPath %}{% endblock %}
<title>Crown.com | {% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
	<nav id="nav" class="navbar">
		<span class="logo"><a href="{{ url_for('myWebsite.home') }}">CROWN</a></span>
		<ul>
			<li><a href="{{ url_for('myWebsite.home') }}">Home</a></li>
			<li><a href="{{ url_for('myWebsite.contact') }}">Contact me</a></li>
			{% if current_user.is_authenticated %}
				Hi {{ current_user.username }}!
				{% else %}
				<Button class="signbtn"><a href="{{ url_for('myWebsite.signin') }}">SignIn</a></Button>
			{% endif %}		
		</ul>
	</nav>	
	{% block body %}
	{% endblock %}
	<!--<footer class="footer">
		<h2>Thankyou for visiting my site.</h2>
		<h5> developed & managed by Crown.</h5>
		<h6>&copy 2022-23 | All rights reserved to Harshit.</h6>
	</footer>-->
</div>
</body>
</html>