{% extends "base.html" %}
{% block cssPath %}<link rel="stylesheet" href="{{ url_for('static', filename='./css/contact.css') }}"/>{% endblock %}
{% block title %}{{ url_for("myWebsite.contact") }} {% endblock %}
{% block body %}
<div class="contactContainer">
	<div class="contactHeading">
		<h2>Contact Me</h2>
	</div>
	<div class="contactForm">
		<form class="form" method="post" action="#">
			{{ contactform.csrf_token }}
			<div>
				{{ contactform.name.label }}
				<p class="input">{{ contactform.name() }}</p>
			</div>
			<div>
				{{ contactform.email.label }}
				<p class="input" >{{ contactform.email() }}</p>
			</div>
			<div>
				{{ contactform.message.label }}
				<p class="input" >{{ contactform.message() }}</p>
			</div>
			<div>
				{{ contactform.needSomeService.label }}
				<p class="input" >{{ contactform.needSomeService() }}</p>
			</div>
			<div>
				<input type="submit" value="Submit"/>
			</div>
		</form>
	</div>
</div>
{% endblock %}
