{% extends "base.html" %}
{% block cssPath %}<link rel="stylesheet" href="{{ url_for('static', filename='./css/index.css') }}"/>{% endblock %}
{% block title %}
{{ url_for("myWebsite.home") }}
{% endblock %}
{% block body %}
<section class="indexPrimary">
	<div class="indexHeading"><h2>ABOUT ME</h2></div>
	<div class="aboutContainer">
		<div class="aboutSection">
			<p>NAME - <span>HARSHIT TIWARI (AKA CROWN)</span></p>
			<p>AGE - <span>18</span></p>
			<p>EDUCATION- 
			<span>
				<ul class="eduList">
					<div>
						<li class="listHead"><h2>12<sup>th</sup> Passed (year - 2023)</h2></li>
						<li class="listSummary">School &#8594 <a href="#">Saraswati Vidya Mandir Sultanpur UP. </a></li>
					</div>
					<div>
						<li class="listHead"><h2>10<sup>th</sup> Passed (year - 2021)</h2></li>
						<li class="listSummary">School &#8594 <a href="#">Surya Academy Sn. Sec. Public School Sultanpur UP. </a></li>	
					</div>
				</ul>
			</span>
			</p>
			<p class="pointList"> HOBBIES - <span >Exploring new Technologies.</span><span>Coding.</span><span>Reading Books.</span></p>
			<p class="pointList">SKILLS - <span>WEB DEVLOPMENT</span><span>SOFTWARE DEVLOPMENT </span><span>GRAPHICS DESIGINING</span><span>VIDEO EDITING.</span></p>
		</div>
	</div>
</section>

<section class="indexSeconadry">
	<div class="myWorkHeading">
		<h2>MY WORKS & EXPERIENCES</h2>
	</div>
	
	<div class="myWorkContainer">
		<div class="myWorkSection webdSection">
			<div class="heading"><h2>WebDevlopment</h2></div>
			<div class="content">
			
				<div class="card">
					<div class="cardImage">
							<img  src="{{ url_for('static', filename='./images/firstWeb.jpg') }}">
					</div>
					<div class="cardDetails">
						<h2>My First Website</h2>
						<p>Technologies used -> </p>
						<div class="techLogo">
								<img src="{{ url_for('static', filename='./images/html.png') }}" alt="htmlLogo">
								<img src="{{ url_for('static', filename='./images/css.png') }}" alt="cssLogo">
								<img src="{{ url_for('static', filename='./images/js.png') }}" alt="jsLogo">
						</div>
						<p>Links-></p>
						<div class="linkLogo">
							<a href="#" ><img src="{{ url_for('static', filename='./images/github.png') }}" alt="githublogo"></a>
							<a href="#" ><img src="{{ url_for('static', filename='./images/live.png') }}" alt="Live View"></a>
						</div>
					</div>
				</div>
				
				<div class="card">
					<div class="cardImage">
						<img  src="{{ url_for('static', filename='./images/newProtfolio.jpg') }}">
					</div>
					<div  class="cardDetails">
						<h2>This Portfolio Website</h2>
						<p>Technologies used -> </p>
						<div class="techLogo">
								<img src="{{ url_for('static', filename='./images/html.png') }}" alt="htmlLogo">
								<img src="{{ url_for('static', filename='./images/css.png') }}" alt="cssLogo">
								<img src="{{ url_for('static', filename='./images/js.png') }}" alt="jsLogo">
								<img src="{{ url_for('static', filename='./images/flask.png') }}" alt="flaskLogo">
						</div>
						<p>Links-></p>
						<div class="linkLogo">
							<a href="#" ><img src="{{ url_for('static', filename='./images/github.png') }}" alt="githublogo"></a>
							<a href="#" ><img src="{{ url_for('static', filename='./images/live.png') }}" alt="Live View"></a>
						</div>
					</div>
				</div>
				
				<div class="card">
					<div class="cardImage"></div>
					<div class="cardDetails">
						<h2>My First Website</h2>
						<p>Technologies used -> </p>
						<div class="techLogo">
								<img src="" alt="htmlLogo">
								<img src="" alt="cssLogo">
								<img src="" alt="jsLogo">
						</div>
						<p>Links-></p>
						<div class="linkLogo">
							<a href="#" ><img src="{{ url_for('static', filename='./images/github.png') }}" alt="githublogo"></a>
							<a href="#" ><img src="{{ url_for('static', filename='./images/live.png') }}" alt="Live View"></a>
						</div>
					</div>
				</div>
						
			</div>
		</div>
		
		<div class="myWorkSection softwareSection">
			<div class="heading"><h2>SoftwareDevlopment</h2></div>
			<div class="content">
					<div class="card">
					<div class="cardImage"></div>
					<div class="cardDetails">
						<h2>My First Website</h2>
						<p>Technologies used -> </p>
						<div class="techLogo">
								<img src="" alt="htmlLogo">
								<img src="" alt="cssLogo">
								<img src="" alt="jsLogo">
						</div>
						<p>Links-></p>
						<div class="linkLogo">
							<a href="#" ><img src="" alt="githublogo"></a>
							<a href="#" ><img src="" alt="Live View"></a>
						</div>
					</div>
				</div>
				
				<div class="card">
					<div class="cardImage"></div>
					<div class="cardDetails">
						<h2>My First Website</h2>
						<p>Technologies used -> </p>
						<div class="techLogo">
								<img src="" alt="htmlLogo">
								<img src="" alt="cssLogo">
								<img src="" alt="jsLogo">
						</div>
						<p>Links-></p>
						<div class="linkLogo">
							<a href="#" ><img src="" alt="githublogo"></a>
							<a href="#" ><img src="" alt="Live View"></a>
						</div>
					</div>
				</div>
				
				<div class="card">
					<div class="cardImage"></div>
					<div class="cardDetails">
						<h2>My First Website</h2>
						<p>Technologies used -> </p>
						<div class="techLogo">
								<img src="" alt="htmlLogo">
								<img src="" alt="cssLogo">
								<img src="" alt="jsLogo">
						</div>
						<p>Links-></p>
						<div class="linkLogo">
							<a href="#" ><img src="" alt="githublogo"></a>
							<a href="#" ><img src="" alt="Live View"></a>
						</div>
					</div>
				</div>
							
			</div>
		</div>
		
		<div class="myWorkSection gfxSection">
			<div class="heading"><h2>DataScience & AI</h2></div>
			<div class="content">
					<div class="card">
					<div class="cardImage"></div>
					<div class="cardDetails">
						<h2>My First Website</h2>
						<p>Technologies used -> </p>
						<div class="techLogo">
								<img src="" alt="htmlLogo">
								<img src="" alt="cssLogo">
								<img src="" alt="jsLogo">
						</div>
						<p>Links-></p>
						<div class="linkLogo">
							<a href="#" ><img src="" alt="githublogo"></a>
							<a href="#" ><img src="" alt="Live View"></a>
						</div>
					</div>
				</div>
				
				<div class="card">
					<div class="cardImage"></div>
					<div class="cardDetails">
						<h2>My First Website</h2>
						<p>Technologies used -> </p>
						<div class="techLogo">
								<img src="" alt="htmlLogo">
								<img src="" alt="cssLogo">
								<img src="" alt="jsLogo">
						</div>
						<p>Links-></p>
						<div class="linkLogo">
							<a href="#" ><img src="" alt="githublogo"></a>
							<a href="#" ><img src="" alt="Live View"></a>
						</div>
					</div>
				</div>
				
				<div class="card">
					<div class="cardImage"></div>
					<div class="cardDetails">
						<h2>My First Website</h2>
						<p>Technologies used -> </p>
						<div class="techLogo">
								<img src="" alt="htmlLogo">
								<img src="" alt="cssLogo">
								<img src="" alt="jsLogo">
						</div>
						<p>Links-></p>
						<div class="linkLogo">
							<a href="#" ><img src="" alt="githublogo"></a>
							<a href="#" ><img src="" alt="Live View"></a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="myWorkSection dataScienceSection">
			<div class="heading"><h2>GraphicsDesigning</h2></div>
			<div class="content">
					<div class="card">
					<div class="cardImage"></div>
					<div class="cardDetails">
						<h2>My First Website</h2>
						<p>Softwares used -> </p>
						<div>
								<img src="" alt="htmlLogo">
								<img src="" alt="cssLogo">
								<img src="" alt="jsLogo">
						</div>
						<p>Links-></p>
						<div>
							<a href="#" ><img src="" alt="Live View"></a>
						</div>
					</div>
				</div>				
			</div>
	</div>
</div>
</section>
{% endblock %}